.container {
	width: 300px;
	height: 150px;
	text-align: center;
}
.screenshot-btn {
	display: inline-block;
	width: 100px;
	height: 100px;
	background-color: #3385ff;
	border-radius: 50%;
	cursor: pointer;
	text-align: center;
	margin: 0 15px;
	margin-top: 25px;
}
.screenshot-btn p {
	height: 100px;
	line-height: 100px;
	margin: 0;
	color: #fff;
}
.screenshot-btn:hover {
	background-color: #2d78f4;
}

.ocr p{
	border:1px solid #000000;
	cursor: pointer;
}
.operation{
	column-count: 2;
}
.clear{


	border:1px solid #000000;
	cursor: pointer;
}

.undo{
	border:1px solid #000000;
	cursor: pointer;
}

.video-ocr{
	column-count: 2;
}
.switch{
	border:1px solid #000000;
	cursor: pointer;
}
.clear-video{


	border:1px solid #000000;
	cursor: pointer;
}
.video-req{
	 border:1px solid #000000;
	 cursor: pointer;
 }

.text-control{
	width: 80px;
	column-count: 1;
	/*display: inline-block;*/
}
.textarea{
	width: 200px;
	/*display: inline-block;*/
}
.save{
	border:1px solid #000000;
	cursor: pointer;
}
.clear-text{


	border:1px solid #000000;
	cursor: pointer;
}
.text-area{
	display: flex;
	justify-content: space-around;
}