.container {
	width: 300px;
	height: 80px;
	text-align: center;
}
.screenshot-btn {
	display: inline-block;
	/*width: 100px;*/
	border: 1px solid #000;
	background-color: #a4efbc;
	cursor: pointer;
	text-align: center;
	margin: 0 15px;
	margin-top: 25px;
}
.screenshot-btn p {
	height: 30px;
	line-height: 30px;
	margin: 0;
	/*color: #fff;*/
}
.screenshot-btn:hover {
	/*background-color: #2d78f4;*/
}

.ocr p{
	border:1px solid #000000;
	cursor: pointer;
	background-color: #ffef83;
}

.operation{
	column-count: 2;
}
.clear{


	border:1px solid #000000;
	cursor: pointer;
}

.undo{
	border:1px solid #000000;
	cursor: pointer;
}

.video-ocr{
	column-count: 2;
}
.switch{
	border:1px solid #000000;
	cursor: pointer;
	background-color: #a4efbc;

}
.clear-video{


	border:1px solid #000000;
	cursor: pointer;
}
.video-req{
	border:1px solid #000000;
	cursor: pointer;
	background-color: #ffef83;
	margin: 5px 0;
 }
/*.video-req p{*/
/*	color: #fff;*/
/*}*/
.text-control{
	width: 80px;
	column-count: 1;
	/*display: inline-block;*/
}
.textarea{
	width: 200px;
	/*display: inline-block;*/
}
.save{
	border:1px solid #000000;
	cursor: pointer;
}
.clear-text{
	border:1px solid #000000;
	cursor: pointer;
	margin: 5px 0;
}
.copy-text{
	border:1px solid #000000;
	cursor: pointer;
	margin: 5px 0;
}
.tran{
	border:1px solid #000000;
	cursor: pointer;
}
.text-area{
	display: flex;
	justify-content: space-around;
}

.open{
	border:1px solid #000000;
	cursor: pointer;
	width: 180px;
	float: right;
}